# This Code does X, Y and Z

In [3]:
import numpy as np
import pandas as pd

In [6]:
pd.DataFrame(np.random.rand(3,3), columns=['X', 'Y', 'Z'])

          X         Y         Z
0  0.302150  0.464372  0.230330
1  0.571814  0.078791  0.144163
2  0.296365  0.971158  0.226595

the result of X Y and Z